<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bel.android.dspmanager" android:versionCode="1"
	android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".DSPManager" android:label="@string/app_name">
			<intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"></action>

</intent-filter><intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".DSPScreen">
			<intent-filter>
				<action android:name="com.bel.android.dspmanager.EDIT"></action>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service android:exported="false"
			android:enabled="true" android:name=".HeadsetService">
			
		

<intent-filter><action android:name="android.intent.action.HEADSET_PLUGGED"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
<intent-filter><action android:name="com.bel.android.dspmanager.UPDATE"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</service>
	</application>

	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest> 
